body{
  background: #333;
  color: #Fff;
}

.navbar{
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}


#home{
  background: linear-gradient(to right,rgba(0, 0, 0,0.7),rgba(0, 0, 0,0.7)),url(../img/photo-1633113090205-cc1ac795b5f9.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 70vh;
}


#home .home-inner{
  padding-top: 150px;
}

#home .card-form{
  opacity: 0.8;
}


#home .fas {
  color: #008ed6;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}


#explore-section .fas,#create-section .fas{
  background: #fff;
  color: #333;
  padding: 5px;
  border-radius: 5px;
}